body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/vetores-premium/olhos-assustadores-assustadores-nos-olhos-de-monstro-escuros-halloween_709240-244.jpg'); /* Imagem de fundo */
    background-size: 750px; 
    color: #e0e0e0;
}

header {
    background-color: rgba(92, 0, 0, 0.836); /* Vermelho escuro semi-transparente */
    color: #000000; /* Texto claro */
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #00FF00; /* Verde-limão para links */
}

nav a:hover {
    color: #4B0082; /* Roxo ao passar o mouse */
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 20px;
}

article {
    border: 1px solid #333; /* Borda escura */
    padding: 10px;
    text-align: center;
    width: 950px; /* Defina a largura desejada */
    margin: 0 auto; /* Centraliza o artigo */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco semi-transparente com menos opacidade */
}

button {
    background-color: rgba(92, 0, 0, 0.836); /* Cor do botão */
    color: #fff;
    border: 2px solid #333; /* Borda escura para o botão */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Adicionando transição para transformação */
}

button:hover {
    background-color: #b60000; /* Cor do botão ao passar o mouse */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}
#menu article img {
    width: 450px; /* Defina a largura desejada */
    height: 450px; /* Defina a altura desejada */
    object-fit: contain; /* Isso mantém a proporção da imagem sem cortá-la */
}
/* Estilo para a aba lateral do carrinho */
#cart {
    display: none; /* Começa escondido */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#cart.open {
    display: block; /* Exibe o carrinho quando a classe 'open' é adicionada */
}

#cart h2 {
    margin-top: 0;
}

#cart ul {
    list-style-type: none;
    padding: 0;
}

#cart li {
    margin: 10px 0;
}
#modal-message {
    color: black;
}
